<h1><%= t('.header', title: @passed_test.test.title) %></h1>
<h3>Quantity right answes - <%= @passed_test.correct_questions %></h3>

<%= result_message %>

<p><%= link_to 'List of all tests', root_path %></p>
