// Place all the styles related to the passed_tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myBar {
  width: 1%;
  height: 30px;
  background-color: #a3e4d7;
  text-align: center;
}

#progressBar {
  width: 100%;
  background-color: #C8C8C8;
}
