<footer>
  <p>Current year - <%= current_year %></p>
  <p>Author - Sergey Nakul</p>
  <p>Project - <%= github_url("sergeynakul", "TestGuru") %></p>
  <p>Project for creating and running tests</p>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', "http://thinknetica.com/", target: "_blank" %></p>
</footer>
