<footer>
  <p>Current year - <%= Time.current.year %></p>
  <p>Author - Sergey Nakul</p>
  <p>Project - <%= link_to 'TestGuru', "https://github.com/sergeynakul/TestGuru", target: "_blank" %></p>
  <p>Project for creating and running tests</p>
  <p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', "http://thinknetica.com/", target: "_blank" %></p>
</footer>
